[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:AndreaOrru/nvim
	branch = master
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:AndreaOrru/prezto
	branch = master
