[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/AndreaOrru/nvim
	branch = master
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/AndreaOrru/prezto
	branch = master
