[Unit]
Description=Intel Undervolt Service
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/undervolt -f --core -135 --gpu -135 --cache -135 --uncore -135 --analogio 35

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
