configuration {
    modi: "drun";
    font: "Iosevka Fixed SS09 Extended 10";
    show-icons: true;
    theme: "Arc-Dark";

    kb-remove-to-eol: "";
    kb-accept-entry: "Control+m,Return,KP_Enter";
    kb-row-up: "Up,Control+k,ISO_Left_Tab";
    kb-row-down: "Down,Control+j";
}
