[Unit]
Description=Reload Bluetooth module after resume
After=hibernate.target hybrid-sleep.target suspend.target

[Service]
Type=oneshot
TimeoutSec=15
ExecStart=/usr/sbin/modprobe btusb

[Install]
WantedBy=hibernate.target hybrid-sleep.target suspend.target
