[Unit]
Description=Intel Undervolt Service
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/undervolt -t 97 --core -97 --cache -97 --gpu -77 --uncore -97 --analogio -77

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
