[Unit]
Description=Intel Undervolt Service
After=multi-user.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/undervolt -f --core -120 --cache -120 --gpu -100 --uncore -100 --analogio 50

[Install]
WantedBy=multi-user.target suspend.target hibernate.target hybrid-sleep.target
