[Unit]
Description=Undervolt the machine
After=home.service

[Service]
Type=oneshot
ExecStart=/home/andrea/.bin/undervolt

[Install]
WantedBy=multi-user.target
